html{
	position: relative;
	min-height: 100%;
}

body{
	margin: 0 0 6em;
}

a, p, h1, h2, h3, h4, h5 ,h6, font{
	font-family: 'Roboto', sans-serif;
}

.navbar{
	background-color: #A41034;
    background-image: none;
    border: none;
    border-radius: 0;
    margin: 0em;
}

.navbar-default .navbar-brand{
	color: #fff;
	font-weight: bold;
    font-size: 1.5em;
}

.navbar-default .navbar-brand:hover{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #711D2F;
    background-image: none;
    color: #fff;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #ccc;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #711D2F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: transparent;
}

.footer{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 6.5em;
    width: 100%;
    overflow: hidden;
    background-color: #A41034;
}

.footer-icon{
	font-size: 3em;
	margin-right: 0.3em;
}

.bottom-content{
	padding-top: 2em;
	padding-bottom: 2em;
}

.bottom-content-rows{
	padding-bottom: 2em;
	display: none;
}

/* Home page css */

.harvard-text{
	color: #A41034;
}

.harvard-background{
	background-color: #A41034;
}

.harvard-border{
	border-color: #A41034;
}

.white{
	color: #fff;
}

.fa-github{
	color: #000;
}

.title{
	font-weight: bold;
	margin-top: 0em;
}

.bottom-content-descriptions{
	margin-top: 1.5em;
	display: block;
}

.carousel-indicators li {
  background-color: #A41034;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #A41034;
}

.carousel-inner>.item>img{
	width: 100%;
}

#whatWeUse{
	padding-bottom: 3em;
    padding-top: 2em;
}

#whatWeDo{
	padding-bottom: 2em;
    padding-top: 3em;
}

#ourVision{
	padding-bottom: 4em;
	padding-top: 2em;
}

#whatWeArePlanning{
	padding-bottom: 4em;
	padding-top: 3em;
}

#whatWeDoText{
	margin-bottom: 3em;
}

#whatWeUserText{
	margin-bottom: 0em;
}

.navbar-brand>img{
    display: inline-block;
    width: 35px;
    margin-top: 0.4em;
}

.even-row{
	background-color: #F1F1F1;
	display: inline-block;
	width: 100%;
}

#ourVisionHolder{
	margin-top: 3em;
}

#whatWeArePlanningCont{
	margin-top: 1em;
}

.carousel-inner>.item>img{
	width: 100%;
    min-height: 500px;
}

/* Team page css */

#team-photo-holder{
	margin-bottom: 2em;
    margin-top: 1em;
}

.memberHolder{
	padding-top: 4em;
	padding-bottom: 3em;
}

#teamContentHolder{
	padding: 0em;
}

.members-title{
	margin-bottom: 1.5em;
}

/* Guide css */
.guide-text{
	font-size: 1.1em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.title{
		margin-top: 0.65em;
	}

	#oculusRiftHolder{
		margin-left: 2em;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#oculusRiftHolder{
		margin-left: 1em;
	}

	#modelingHolder{
		margin-top: 1em;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.bottom-content-descriptions{
		margin-bottom: 1.5em;
		text-align: justify;
	}

	.title{
		margin-bottom: 1em;
	}

	.memberHolder{
		padding-top: 0em;
	}

	.members-title{
		margin-bottom: 1em;
	}

	#whatWeArePlanningCont{
		margin-top: 0em;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
